.container {
	position: relative;
}

.input {
	composes: card from global;
	padding-left: 4rem;
	font-size: 1.5rem;
	width: 100%;
	border: none;
	outline: 0;
}

.icon {
	position: absolute;
	top: 25%;
	left: 1.2rem;
}
